/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content{
  width: calc(100% - 20px);
  padding: 10px;
  height: calc(100% - 85px);
}

.container{
  width: 100%;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

table{
  width: 100%;
}
