<div class="container">

  <form class="example-form" [formGroup]="clienteForm">

    <div fxLayout="row" class="margin-bottom-10">

      <div  fxLayout="column" fxFlex="20%" class="content-input">

        <mat-form-field class="full-width">
          <mat-label>Código</mat-label>
          <input matInput type="number" [(ngModel)]="cliente.codigo" formControlName="codigo" maxlength="30">
        </mat-form-field>

      </div>

      <div fxLayout="column" fxFlex="50%" class="content-input">

        <mat-form-field class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="cliente.nome" formControlName="nome" maxlength="255">
        </mat-form-field>

      </div>

      <div fxLayout="column" fxFlex="30%" class="content-input">

        <mat-form-field  class="full-width">
          <mat-label>Sexo</mat-label>
          <mat-select  [(ngModel)]="cliente.sexo" formControlName="sexo">
            <mat-option value="feminino">Feminino</mat-option>
            <mat-option value="masculino">Masculino</mat-option>
            <mat-option value="outros">Outros</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <div fxLayout="row" class="margin-bottom-10">

      <div fxLayout="column" fxFlex="30%" class="content-input">

        <mat-form-field class="full-width">
          <mat-label>CPF</mat-label>
          <input matInput [(ngModel)]="cliente.cpf" formControlName="cpf" mask="000.000.000-00">
        </mat-form-field>

      </div>

      <div fxLayout="column" fxFlex="70%" class="content-input">

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="cliente.email" formControlName="email" maxlength="255">
        </mat-form-field>

      </div>

    </div>

    <div fxLayout="row">

      <button mat-raised-button routerLink="/cliente"> Voltar</button>

      <button mat-raised-button [disabled]="clienteForm.invalid" (click)="salvar()" class="margin-left-10"> Salvar </button>

    </div>

  </form>

</div>
